@import 'styles/shared/index';

.MultipleFieldUnit001 {
  display: block;
}

.MainContentsFrame {
  padding: 8px;
  background-color: #dddddd;
  border-radius: 4px;
}

.Row {
  display: flex;
  width: 100%;
}

.Column {
  flex: auto 1 1;
}

.Column + .Column {
  margin-left: 12px;
}

.SubHeading {
  color: #222222;
  font-size: px_to_rem(14);
}

.DescriptionsWrapper {
  margin-top: 4px;
}

.ErrorMessageWrapper {
  margin-top: 8px;
}