.List002 {
  // empty
}

.Item {
  position: relative;
  padding-left: 1em;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '・';
  }

  code + span { margin-left: 4px; }
  span + code { margin-left: 4px; }
}

// 隣接要素セレクタによるマージン
[data-adjacent-id*='Heading001'][data-adjacent-id*='m_Lv4'] + [data-adjacent-id='List002'] {
  margin-top: 16px;
}
