[data-adj="FieldHeading001"] + [data-adj="FieldUnit001"] {
  margin-top: 8px;
}

// [data-adj="FieldHeading001"]のスタイル
[data-adj="MultipleFieldUnit001"] + [data-adj="FieldHeading001"],
[data-adj="FieldUnit001"] + [data-adj="FieldHeading001"] {
  margin-top: 56px;
}

// [data-adj="MultipleFieldUnit001"]のスタイル
[data-adj="FieldHeading001"] + [data-adj="MultipleFieldUnit001"] {
  margin-top: 8px;
}

