@import 'styles/shared/index';

.Counter {
  // empty
}

.HeadingWrapper {
  // empty
}

.MainContentsWrapper {
  display: inline-block;
  margin-top: 16px;
  border: 1px solid #999;
}

.NumberBoard {
  padding: 0 32px;
  font-size: px_to_rem(64);
  text-align: center;
}

.ButtonRow {
  display: flex;
  padding: 16px 32px;
  border-top: 1px solid #ccc;
}

.Button {
  width: 100px;
  padding: 16px;
  cursor: pointer;
}
