.FieldUnit001 {
  display: block;
}

.MainContentsFrame {
  padding: 8px;
  background-color: #dddddd;
  border-radius: 4px;
}

.DescriptionsWrapper {
  margin-top: 4px;
}

.ErrorMessageWrapper {
  margin-top: 8px;
}
