.List001 {
  // empty
}

.Item {
  position: relative;
  padding-left: 1em;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '・';
  }

  code + span { margin-left: 4px; }
  span + code { margin-left: 4px; }
}

// 隣接要素セレクタによるマージン
[data-adj*='Heading001'][data-adj*='m_Lv4'] + [data-adj='List001'] {
  margin-top: 16px;
}
