.FieldErrorMessage {
  padding: 12px 24px 12px 48px;
  background: #e40909;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
}

.FieldErrorMessage + .FieldErrorMessage {
  margin-top: 8px;
}
