@import 'styles/shared/index';

.Card001 {
  display: inline-block;
  border: 1px solid #999;
}

.NumberBoard {
  padding: 0 32px;
  font-size: px_to_rem(64);
  text-align: center;

  &.m_EmpasisColor {
    color: #f00;
  }
}

.ButtonRow {
  display: flex;
  padding: 16px 32px;
  border-top: 1px solid #ccc;
}

.Button {
  min-width: 100px;
  padding: 16px;
  cursor: pointer;
}
